{% extends 'admin/main.html' %}
{% block content %}
<a type="button" class="btn btn-outline-primary rounded-pill" href="{% url 'add_advocates' %}">Add Advocate</a>
<div class="col-12">
    <div class="card top-selling overflow-auto">
      <div class="card-body pb-0">
          <h5 class="card-title">Advocate <span></span></h5>
  
          <table class="table table-striped">
            <thead>
              <tr>
     
                <th class="fw-bold" scope="col">Name</th>
                <th class="fw-bold" scope="col">Address</th>
                <th class="fw-bold" scope="col">phone</th>
                <th class="fw-bold" scope="col">remove</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{i.name}}</td>
                <td>{{i.address}}<br>
                  {{i.address.Place}}<br>
                  {{i.address.City}}<br>
                  {{i.address.district}}<br>
                  {{i.address.State}}<br>
                  {{i.address.Pin}}<br>
                </td>
                <td >{{i.phone}}</td>
                <td><a href="/removeadvocate/{{i.id}}">remove</a></td>
              </tr>
              {% endfor %}
              
              
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </div>
{% endblock content %}