{% extends 'admin/main.html' %}
{% block content %}
<div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
            <div class="row">
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Case<span>| Today</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-folder"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{casedata}}</h6>
                            {% comment %} <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> {% endcomment %}
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Notary <span>| Total</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-file-earmark-text"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{notarydata}}</h6>
                            {% comment %} <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> {% endcomment %}
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">legal Scrutiny <span>| Total</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-briefcase"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{legal_su}}</h6>
                            {% comment %} <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> {% endcomment %}
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Case type</h5>
          
                        <!-- Bar Chart -->
                        <div id="barChart"></div>
          
                        <script>
                          document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#barChart"), {
                              series: [{
                                data: {{crime_type_number}}
                              }],
                              chart: {
                                type: 'bar',
                                height: 350
                              },
                              plotOptions: {
                                bar: {
                                  borderRadius: 5,
                                  horizontal: true,
                                }
                              },
                              dataLabels: {
                                enabled: false
                              },
                              xaxis: {
                                categories: [{% for i in crime_label %}'{{i}}',{% endfor %}],
                              }
                            }).render();
                          });
                        </script>
                        <!-- End Bar Chart -->
                       
                      </div>
                    </div>
                  </div>
                  {% comment %} <div class="col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Case stage</h5>
          
                        <!-- Bar Chart -->
                        <div id="bari"></div>
          
                        <script>
                          document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#bari"), {
                              series: [{
                                data: {{crime_stage_number}}
                              }],
                              chart: {
                                type: 'bar',
                                height: 350
                              },
                              plotOptions: {
                                bar: {
                                  borderRadius: 5,
                                  horizontal: true,
                                }
                              },
                              dataLabels: {
                                enabled: false
                              },
                              xaxis: {
                                categories: [{% for i in crime_stage_label %}'{{i}}',{% endfor %}],
                              }
                            }).render();
                          });
                        </script>
                        <!-- End Bar Chart -->
                       
                      </div>
                    </div>
                  </div> {% endcomment %}
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Advocates Case</h5>
          
                        <!-- Pie Chart -->
                        <div id="pieChart"></div>
          
                        <script>
                          document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#pieChart"), {
                              series: {{advocate_number}},
                              chart: {
                                height: 350,
                                type: 'pie',
                                toolbar: {
                                  show: true
                                }
                              },
                              labels: [{% for i in advocate_label %}'{{i}}',{% endfor %}]
                            }).render();
                          });
                        </script>
                        <!-- End Pie Chart -->
          
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title">Case</h5>
                  <div id="lineChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart"), {
                    series: [{
                      name: "Case",
                      data: {{case_data}}
                    }],
                    chart: {
                      height: 350,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'straight'
                    },
                    grid: {
                      row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    },
                    xaxis: {
                      categories: [{% for i in month %}'{{i}}',{% endfor %}],
                    }
                  }).render();
                });
              </script>
            
            </div>
      </div>
    </div>
{% endblock content %}

