{% extends 'admin/main.html' %}
{% block content %}
<button type="button" class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#largeModal">
    Add
  </button>

  <div class="modal fade" id="largeModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Notary Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" method="POST" action="{% url 'notary_category' %}">
                {%load crispy_forms_tags %} 
                {% csrf_token %}
                {% for field in form %}
                <div class="col-12">
                    <label for="{{field.id}}" class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                {% for field in form1 %}
                <div class="col-12">
                    <label for="{{field.id}}" class="form-label">{{field.label}}</label>
                    {{field}}
                    {% if field.help_text %}<div class="alert alert-info alert-dismissible fade show" role="alert">
                
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      {{field.help_text}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% if field.errors %}<div class="alert alert-danger alert-dismissible fade show" role="alert">
                
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      {{field.errors}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
      
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Add">
                  </div>
            </form>
        </div>
        
      </div>
    </div>
  </div>
<div class="col-12">
    <div class="card top-selling overflow-auto">
      <div class="card-body pb-0">
          <h5 class="card-title">Notary Category<span>| </span></h5>
  
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="fw-bold" scope="col">id</th>
                <th class="fw-bold" scope="col">Name</th>
                <th class="fw-bold" scope="col">description</th>
               
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.Name}}</td>
                <td>{{i.description}}</td>
          
              {% endfor %}
              
              
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </div>
{% endblock content %}